@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

body {
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
}

.top-body {
  width: 100%;
  background-color: rgba(38, 67, 159, 1);
  color: white;
}

.top-heading {
  font-size: 1.3rem;
  margin-left: -17px;
}

.cover-img {
  width: 100%;
}

.holder {
  width: 52%;
  margin-left: auto;
  display: flex;
  justify-content: space-between;
  color: white;
}

.icons {
  margin-right: 6px;
}

.icons > * {
  margin: 0 5px;
  margin-top: 23px;
}

.container {
  display: flex;
  flex-wrap: wrap;
}

.container-child {
  width: 50%;
  background: rgb(21, 22, 23);
  background: linear-gradient(90deg, rgba(21, 22, 23, 1) 0%, rgba(38, 67, 159, 1) 100%);
}

.container-child:nth-child(4n + 2),
.container-child:nth-child(4n + 3) {
  background: rgb(21, 22, 23);
  background: linear-gradient(270deg, rgba(21, 22, 23, 1) 0%, rgba(38, 67, 159, 1) 100%);
}

.full-width {
  width: 100%;
  background-color: rgba(38, 67, 159, 1);
  color: white;
  text-align: center;
  margin-top: -20px;
}

.list-heading {
  padding-block: 2%;
  font-size: 18px;
  margin-block: 0;
}

.oddBox,
.evenBox {
  width: 98%;
  height: 170px;
  color: white;
  text-align: end;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-block: 2%;
}

.oddBox h3,
.evenBox h3 {
  margin: 0;
}

.arrow {
  border: 1px solid white;
  color: white;
  border-radius: 50%;
  align-self: flex-end;
}

.combine-details {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  gap: 40%;
}

.navLink {
  text-decoration: none;
}

.companyName {
  text-align: center;
  font-size: 20px;
  width: 80%;
  margin-inline: auto;
  color: white;
}

.search-container {
  padding: 10px;
}

.search-container input {
  padding: 5px;
  width: 30%;
  outline: none;
  border: 1px solid white;
  border-radius: 15px;
}

.search-container p {
  letter-spacing: 1px;
  font-weight: 600;
  font-size: 1.1rem;
}
